<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تقرير مورد / مقاول</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body dir="rtl" onload="">
    <header>
        <a class="home" href="../home/home.html"><img src="../../img/huanfang.ico" alt="home"></a>
        <span class="userName"></span>
        <h1>تقرير مورد / مقاول</h1>
        <span class="dateAndTime"></span>
        <a class="exit" href="../../index.html"><img src="../../img/cancel.ico" alt="exit"></a>
    </header>
    <div class="app">
        
        <div class="buttons">
            <div class="inputsSearch">
                <button onclick="openInputsSearch();">بحث</button>
                <button onclick="refresh();">تحديث</button>
                <button onclick="printReport();">طباعة</button>
            </div>
            <div class="inputsSearch inputsSearch2">
                <h3>من</h3>
                <input  type="date" name="" value="2024-01-01" id="searchFrom" >
                <h3>الي</h3>
                <input  type="date" name="" value="2024-01-01" id="searchTo" >
                <input  type="text" name="" value=""  id="search" placeholder="ادخل كود العميل">
                <button onclick="searchData();">بحث</button>
                <button type="reset" onclick="refresh();">الغاء</button>
    
            </div>
        </div>
       
        <div class="allProject">
            <table class="tableProject" border="1">
                <thead>
                    <tr >
                        <th colspan="10" class="titleTable">تقرير التوريدات</th>
                    </tr>
                    <tr class="titleProMainTab">
                        <th>م</th>
                        <th>تاريخ التعاقد</th>
                        <th>كود العميل</th>
                        <th>اسم العميل</th>
                        <th>اسم المشروع</th>
                        <th>حالة المشروع</th>
                        <th>البيان</th>
                        <th>قيمة التعاقد</th>
                    </tr>
                </thead>
                <tbody class="tbodyAllContract">
                    <!-- <td class=""></td>
                    <td class="nameProjectTab"></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="totalPrice"></td>
                    <td class="totalPaid"></td>
                    <td class="totalRemain"></td>
                    <td class=""></td> -->
                </tbody>
            </table>
           
        </div>
        <div class="allDetails">
            <table class="tableProject" border="1">
                
                <thead>
                    <tr >
                        <th colspan="10" class="titleTable">تقرير المصروفات</th>
                    </tr>
                    <tr class="titleProMainTab">
                        <th>م</th>
                        <th>كود العميل</th>
                        <th>اسم العميل</th>
                        <th>اسم المشروع</th>
                        <th>تاريخ الصرف</th>
                        <th>الصنف</th>
                        <th>الكمية</th>
                        <th>سعر الوحدة</th>
                        <th>الاجمالي</th>
                    </tr>
                </thead>
                <tbody class="tbodyExpenses">
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                </tbody>
            </table>
        </div>
        <div class="report">
            <table border="1">
                <thead>
                    <tr>
                        <td >اعداد</td>
                        <td class="userReport">ادارة</td>
                        <th class="titleReport colorBlue"><img class="imgLogo" src="../../img/logo.jpeg"  alt=""><h3>المستقبل جروب للهندسة والمقاولات</h3> </th>
                    </tr>
                    <tr>
                        <td >التاريخ</td>
                        <td class="dateReport">00-00-00</td>
                        <th class="thirdTitleReport"></th>
    
                    </tr>
                    <tr>
                        <td >الوقت</td>
                        <td class="timeReport">00:00</td>
                        <th class="secondTitleReport colorRed">كشف حساب مورد/مقاول</th>
    
                    </tr>
                    
                </thead>
                
            </table>
            <table border="1">
                <tr class="hhtt">
                    
                    <td class="colorRed" >التاريخ من</td>
                    <td class="resultDateFrom">-</td>
                    <td class="colorRed">التاريخ الي</td>
                    <td class="resultDateTo">-</td>
                    <td class="colorRed">كود المورد</td>
                    <td class="codeCustomer colorBlue">-</td>
                    <td class="colorRed">اسم المورد</td>
                    <td  class="nameSupply">-</td>
                    <td class="colorRed">اسم المشروع</td>
                    <td class="nameProject">-</td>
                </tr>
                <tr class="hhtt">
                    
                    <td class="colorRed">نوع العميل</td>
                    <td class="typeSupplier">0</td>
                    <td class="colorRed">رصيد ما قبله</td>
                    <td class="priceBack">0</td>
                    <td colspan="2" class="colorRed">اجمالي المدين</td>
                    <td colspan="2" class="totalSupplierTop">0</td>
                    <td colspan="2" class="colorRed">اجمالي الدائن</td>
                    <td colspan="2" class="totalPaidSuplTop">0</td>
                    <td class="colorRed">رصيد ختامي</td>
                    <td class="totalRemainTop">0</td>

                </tr>

            </table>
            <table border="1" dir="rtl">
                <tr>
                    <th colspan="10">التفاصيل</th>
                </tr>
                <tr>
                    
                    <th>م</th>
                    <th>التاريخ</th>
                    <th class="titleTD">البيان</th>
                    <th>مدين</th>
                    <th>دائن</th>
                    <th>الرصيد</th>
                    

                </tr>
                <tbody class="tbodyReport">

                </tbody>
                

            </table>
            <footer>
                <h2>المحاسب</h2>
                <h2>المراجع</h2>
                <h2>المدير</h2>
            </footer>

        </div>
    </div>

   
    
    <script src="js/main.js"></script>
</body>
</html>