<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> صرف المشاريع</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body dir="rtl" onload="showEmployees();">
    <div class="app">
        <header>
            <a class="home" href="../home/home.html"><img src="../../img/huanfang.ico" alt="home"></a>
            <span class="userName"></span>
            <h1>صرف المشاريع</h1>
            <span class="dateAndTime"></span>
            <a class="exit" href="../../index.html"><img src="../../img/cancel.ico" alt="exit"></a>
        </header>
        <div class="buttons">
            <input  type="text" name="" value="" onkeyup="searchData(this.value);" id="search" placeholder="بحث">
            
        </div>
       
        <div class="alarm alarm1">
            <div class="inputsAlarm">
                <h3 style="color: #fff; margin: 10px;">ادخل الباسوورد للحذف</h3>
                <input type="password" name="" id="inputPass">
                <div class="buttons">
                    <button id="btnCheckEdite" onclick="checkPass1();">موافق</button>
                    <button id="btnCancel" onclick="exitePass();">الغاء</button>
                </div>
            </div>
        </div>
        <div class="alarm alarm2">
            <div class="inputsAlarm">
                <h3 style="color: #fff; margin: 10px;">هل تريد الحذف</h3>
                <div class="buttons">
                    <button id="btnCheckEdite" onclick="checkPass2();">موافق</button>
                    <button id="btnCancel" onclick="exitePass();">الغاء</button>
                </div>
            </div>
        </div>
        <aside>
            <form class="addEmployee" >
                <div>
                    <input  type="date" name="" value="2024-01-01" id="dateExpenses"   >
                    <input  type="number" name="" value="" onkeyup="getCustomer();" id="codeCustomer" placeholder="كود العميل"  >
                    <input  type="text" name="" value="" id="name"  placeholder="اسم العميل"  >
                    <input  type="text" name="" value="" id="nameProject" placeholder="اسم المشروع"  >
                    <input  type="text" name="" value="" id="item" placeholder="الصنف"  >
                    <input  type="number" name="" value="" id="quantity" placeholder="الكمية"  >
                    <input  type="text" name="" value="" id="priceExpenses" placeholder="سعر الوحدة"  >                
                    <input  type="text" name="" value="" id="notes" placeholder="ملاحظات" >

                </div>
                <div class="priceOnly">
                    <button class="createEmpl"><img  src="../../img/plus (1).png" alt="add" ></button>
                    <button ><img onclick="refresh();" src="../../img/cancel.ico" alt="cancel" ></button>
                    
                    
                </div>
            </form>
            <div class="priceOnly">
                <button><img onclick="printThisPage();" src="../../img/print.ico" alt="'print'" ></button>
                <button><img onclick="refresh();" src="../../img/refresh2.ico" alt="'تحديث" ></button>
            </div>
            <div class="priceOnly">
                <button onclick="showRecycleBin();" class="btnShowData"><img  src="../../img/19.ICO" alt="'تحديث" ></button>
                <button onclick="exportTableToExcel();">تصدير البيانات الي اكسيل</button>
            </div>
        </aside>
        <div class="content">
            <section class="inputsEmployees">
                
                
                <div class="tableAllEmployees" >
                    <table border="1" id="table">
                        <tr>
                            <th colspan="13" class="headTable">بيانات الصرف</th>
                        </tr>
                        <tr>
                            <!-- <th>م</th> -->
                            <th>كود العميل</th>
                            <th>اسم العميل</th>
                            <th>اسم المشروع</th>
                            <th>تاريخ الصرف</th>
                            <th>الصنف</th>
                            <th>الكمية</th>
                            <th>سعر الوحدة</th>
                            <th>الاجمالي</th>
                            <th>ملاحظات</th>
                            <th>تعديل</th>
                            <th>حذف</th>
                        </tr>
                        <tbody class="tbodyEmployees">
                            
                            
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </section>
           
           

            
        </div>
        
    </div>

   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.3/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>